body{
    /* background:url('https://images.pexels.com/photos/703014/pexels-photo-703014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
    background-repeat: no-repeat;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    height: 1900px;
    box-sizing: border-box;
}

.left{
    color: white;
/* border: red 2px solid; */
display: inline-block;
position: absolute;
font-family: cursive;
font-style: italic;
top: 36px;
left:50px;
}
.center{
    color: rgb(255, 255, 255);
width: 100%;
margin: auto;
background-color: rgb(0, 0, 0);
padding: 18px;
}
.right,.right:focus,.right:active{
    color: white;
/* border: 2px yellow solid; */
display: inline-block;
position: absolute;
right: 298px;
top: 10px;
padding: 7px;
border-radius: 10px;
width: 10px;
/* left: 1px; */
outline: none;
}

li{
    display: inline;
    list-style-type: none;
    padding-left: 20px;

}

.nav{
    width: 20px;
    margin-right: 10px;
}
ul{
    width: 400px;
    font-family: cursive;
    font-size: larger;
    margin: auto;
    overflow: hidden;


}
header{
    position:absolute;
    width: 100%;
}
#logo{
    height: 50px;
     width: 50px;
     position: absolute;
     top: -15px;
     filter: invert(100%);
     padding: 10px;
     padding-left: 53px;
}
.form{
    position: absolute;
    top: 323px;
}
#headerimage{
    margin-top: 60px;
clear: both;
z-index: -1;
}
#quotes{
    color:black;
    border: black solid 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: -509px;
    margin-left: 1500px;
    font-family: cursive;
    font-size: larger;
    width: 260px;
    padding: 10px;
    border-radius: 30px;
text-align: center;
font-style: italic;
}

#nepal,#nepal:active,#nepal:focus{
    outline: none;
padding: 6px;
border-radius: 8px;
margin-top: 1px;
/* margin-left:px; */
width: 171px;
text-align: center;
border: none;
}
#search{
    text-decoration: none;
    color: blanchedalmond;
    font-family: cursive;
    background-color:#ff0000d4;
    border: 2px solid black;
 position: absolute;
 margin-left: 191px;
 margin-top: -31px;
width: 80px;
border-radius: 8px;
padding: 3px;
}
a{
    text-align: center; 
    padding: 2px;

}
h1{
    color: white;
    font-family: cursive;
    text-align:left;
    display: inline;
    position: absolute;
    left: 140px;
}
#contactbox{
    background-color: black;
  border: 1px solid white;
  /* display: inline; */
  box-sizing: border-box;
  width: 514px;
  height: 600px;
  padding: 70px;
  position: absolute;
  left: 130px;
  top: 700px;
  border-radius: 10px;
}

#info{
    box-sizing: border-box;
    position: absolute;
    display: inline;
    top: 730px;
    left: 90px;
}


#heading{
color: white;
text-align: center;
font-size: 50px;
font-family: cursive;
margin-top: -40px;
}

.contactform{
    width: 425px;
margin-top: 30px;
margin-left: -46px;
padding: 14px;
border-radius: 10px;
border: none;
}


#submit{
    background-color: red;
    color: white;
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
padding:12px;
margin-top: 35px;
width: 464px;
margin-left: -44px;
border: none;
border-radius: 10px;
}
#team{
    position: absolute;
    color: white;
    /* border: white solid 2px; */
    clear: both;
    box-sizing: border-box;
    top: 700px;
    display: inline;
    margin-left: 700px;
    height: 600px;
    width: 1000px;
    border-radius: 20px;
   
}
#inside{
    font-family: cursive;
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 15px;    
}
.teamall{
    height: 300px;
    width:250px;
    display: inline;
    margin-top: 24px;
margin-left: 60px;
box-sizing: border-box;
border: solid 2px white;
border-radius: 10px;
}

p1{
    color: white;
    margin-left: 88px;
    display: inline;
    position: absolute;
    margin-top: 20px;
    font-family: cursive;
    font-size: 32px;
}

p2{
    font-size: 32px;
    font-family: cursive;
        color: white;
        margin-left: 413px;
        display: inline;
        position: absolute;
        margin-top: 20px;
    
}
p3{
    font-size: 32px;
    font-family: cursive;
        color: white;
        margin-left: 713px;
        display: inline;
        position: absolute;
        margin-top: 20px;
    
}
#map{
    top: 1350px;
    position: absolute;
    display: inline;
    border: white 2px solid;
    color: white;
    /* background-color :white ; */
    left: 100px;
    height: 500px;
    width: 1700px;
}
#location1{
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 40px;
    margin-top: 21px;
    position: absolute;
   margin-left: 111px;
    display: inline;
}
#thehumangamer{
    color: white;
    display: inline;
    position: absolute;
    margin-top: 716px;
    left:  1010px;
    font-size: 45px;
    font-family: cursive;
    box-sizing: border-box;
}

#nepalmap{
    margin-top: 100px;
    margin-left: 70px;
    height: 310px;
    width: 500px;
    border:white 2px solid;
}

#places{
    position: absolute;
    width: 30px;
    margin-top:-332px ;
    left: 520px;
    padding: 10px;
    
}

.li1{
    padding-bottom: 8px;
display: block;
margin-left: 15px;
margin-top: 0px;
font-family: cursive;
font-size: 26px;
}
.pin{
    display: inline;
filter: invert(10%);    
}

#pahours{
    font-size: 20px;
    margin-left: 38px;
}
p5{
    font-size: 16px;
    margin-top: -8px;
    position: absolute;
    left: 70px;
}
#working{
    border:solid 2px white;
    height: 150px;
}
#p12{
    position:absolute;
font-size: 11px;
left: 15px;
}
#pricinglist{
    color: white;
    position: absolute;
    top: 1600px;
    left: 1006px;
    font-size: 35px;
    display: inline;
    font-family: cursive;
    width: 386px;
    text-align: center;
    bottom: 10px;
    box-sizing: border-box;
}
#money{
    height: 150px;
    border: 2px white solid;
}
#price{
    font-size: 20px;
    margin-left: 1;
    font-family: cursive;
}

.p6{
    font-family: cursive;
    font-size: 16px;
    left: 45px;
}
#well{
    margin-bottom: 11px;
}
.header{
z-index: 100;
position: fixed;
}